@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0.0;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0.0;
  }
}
.Grey{
    opacity: 0.7;
    width: 100%;
    background: -webkit-linear-gradient(top,rgba(72,76,97,0)0%,rgba(72,76,97,0.8) 75%);
    position: static;
    height: 100%;
    transition: 0.7s;
}
.Grey:hover {
    opacity: 1;
}
.container-fluid{
  padding: 0px!important;
}
.cc-profile-image{
  text-align: center;
}
.cc-profile-image a {
  position: relative;
}

.cc-profile-image a:before {
  content: "";
  border: 15px solid #98c4e5;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  -webkit-animation: pulsate 1.6s ease-out;
          animation: pulsate 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 99;
}
.imagecover{
  background-image: url(images/hd1.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
  
}
.cc-profile-image img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 99;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
  -webkit-transform: scale(1.06, 1.06);
          transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
  -webkit-animation: none;
          animation: none;
}
.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  color: white;
  width: 50px;
  height: 50px;
}
.button-container{
  text-align: center;
  font-size: 28px;
  margin-top: 50px;
}
.h2-title{
  text-align: center;
  color: #ffffff;
  font-family: inherit;
  font-weight:550;
  font-size: 25px;
  border-bottom: 4px double #FFF;
  display: table;
  margin: 0 auto;
}

.container-center{
    left: 0px;
    right: 0px;
    margin: 0px auto;
    position: absolute;
    top: 20%;
}
.around-basic-infor{
  opacity: 0.9;
  line-height: 30px;
  margin-left: 50px;
}
.around-about{
  opacity: 0.9;
  margin-left: 50px;
}

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-left: 30px;
  padding: 30px;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.section{
  padding: 30px 0px;
  position: relative;
  padding-bottom: 0px;
}
.bg-primary {
    background-color: #3387ca !important;
}
.title{
  text-align: center;
  margin-bottom: 30px;
}
.pheader{
  font-weight: 800;
  color: #ffffff;
  opacity: 0.7;
}
.liststyle{
  opacity: 0.7;
}
#under{
  text-decoration: underline;
}
.hearul{
  width: 70%;
  margin: 45px auto 24px auto;
  border-color: #2F2D2E;
  border-color: rgb(186, 226, 233);
}
.h2name{
  font: 50px 'opensans-bold', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  font-weight: 700;
}
.slogan{
  color: #FFF;
    /* font-size: 50px; */
    font-size: 22px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin: 0;
}
#imagecover{
  padding: 0px;
}
.navfix{
      position: fixed;
    z-index: 100;
    
}
.openmenu{
  font-size: 30px;
  background-color: black;
  border:none;
  color: white;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
  opacity: 0.7;
}
.w3-sidebar{
  opacity: 0.8;
  height: 500px!important;
}
.item-button{
  margin-left: 15px;
  color: white;
}
.content-menu{
  line-height: 40px;
}
.menurul{
  padding: 0px;
  margin: 0px;
  border-color: black;
  opacity: 1;
}
.cv{
  text-align: center;

}
.cv button:hover{
  text-decoration: none;
  color: black;
  background-color: grey;
}
.dowloadcv{
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
  color: white;
  background-color: #96b7bd;
  font-weight: 600;
}
.mc{
  padding-left: 5px;
}
.s:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .25)